# List files that should be ingored when publishing
# (it respects the .gitignore list)

# Ignore git attributes file
.gitattributes
# Ignore github CI/CD
.github
# Ignore source files
src
# Ignore tests
test
# Ignore ESlint configuration
.eslintrc.js
# Ignore Prettier configuration
.prettierrc.js
# Ignore Typescript configuration files
tsconfig.json
tsconfig.eslint.json
# Ignore mocha configuration file
.mocharc.json
# Ignore authentication files
authentication.*

# Ignore cached files
cached-osu-api-responses
# Ignore examples
examples
# Ignore documentation
docs
pages
# Ignore code coverage files
.nyc_output
coverage
# Ignore previous packaged files
osu-api-v2-*.tgz
